# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# dotenv
/django/src/.env
/django/src/db.sqlite3
/django/src/static
/django/src/.bash_history
/django/src/.cache/

/react/src/node_modules
/react/src/dist
/react/src/.npm/
/react/src/.bash_history
/react/src/.node_repl_history
/react/src/npm-debug.log
/react/src/coverage

/nginx/django/static
/nginx/react/dist
