{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 5%"]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    ["module-resolver", { "root": ["./app"] }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
  }
}
