body {
  background-color: #fbf1c7;
  color: #3c3836;
  font-family: sans-serif;
}

a, a:visited {
  color: #076678;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
 color: #458588;
}
h1, h2, h3, h4, h5, h6 {
  background-color: #ebdbb2;
  padding: .2em .5em;
  border-radius: .5em;
}

.root {
  width: 960px;
  margin: 0 auto;
}

.signed-in-user {
  display: inline-block;
}
.logout-button {
  float: right;
  background-color: #ebdbb2;
  color: #3c3836;
  border: 1px solid #076678
}
.auth-panel {
  margin: 10px;
}
